body {
  padding-top: 56px;
}
#zadzwon{
	margin-left: auto;
    margin-right: auto;
}
#skup{
    margin-top: auto;
    margin-bottom: auto;
}
#pomoc{
    margin-top: auto;
    margin-bottom: auto;
}
@media  (max-width: 575px) {
    .lista {
        margin-right: auto;
        margin-left: auto;
    }
}
#kontaktDane{
    line-height: 30px;
}